version: 2.1
orbs:
  cypress: cypress-io/cypress@3.3.0
jobs:
  install:
    executor: cypress/default
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run: yarn install --frozen-lockfile
      - persist_to_workspace:
          root: ~/
          paths: .

  build:
    docker:
      - image: cimg/node:lts
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn lint
      - run: yarn build
      - run: yarn format-check
      - run: node scripts/release.js
      - persist_to_workspace:
          root: ~/
          paths: .
  run-tests-in-parallel:
    executor: cypress/default
    parallelism: 2
    steps:
      - attach_workspace:
          at: ~/
      - cypress/install:
          install-browsers: true
          install-command: "echo 'skipping install'"
      - cypress/run-tests:
          # following examples from
          # https://circleci.com/docs/2.0/parallelism-faster-jobs/
          cypress-command: |
            TESTFILES=$(circleci tests glob "cypress/e2e/**/*.cy.ts" | circleci tests split --total=2)
            echo "Test files for this machine are $TESTFILES"
            npx cypress run --browser chrome --spec $TESTFILES

  release:
    docker:
      - image: cimg/node:lts
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Release
          working_directory: dist
          command: npx semantic-release

workflows:
  build:
    jobs:
      - install
      - build:
          requires:
            - install
      - run-tests-in-parallel:
          name: Run Cypress tests
          requires:
            - install
      - release:
          name: NPM release
          filters:
            branches:
              only:
                - main
          requires:
            - build
            - Run Cypress tests
