version: 2.1
orbs:
  cypress: cypress-io/cypress@2.2.0
executors:
  default:
    parameters:
      node:
        type: string
        default: "14"
    docker:
      - image: cypress/base:<< parameters.node >>
jobs:
  build:
    docker:
      - image: cimg/node:lts
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn lint
      - run: yarn build
      - run: node scripts/release.js
      - persist_to_workspace:
          root: ~/
          paths: .

  release:
    docker:
      - image: cimg/node:lts
    steps:
      - attach_workspace:
          at: ~/
      - run: 
          name: Release
          working_directory: dist
          command: npx semantic-release

workflows:
  build:
    jobs:
      - cypress/install:
          yarn: true
      - build:
          requires: 
            - cypress/install
      - cypress/run:
          parallelism: 2
          # make sure app has been installed and built
          # before running tests across multiple machines
          # this avoids installing same dependencies 10 times
          requires:
            - cypress/install
          browser: chrome
          # notice a trick to avoid re-installing dependencies
          # in this job - a do-nothing "install-command" parameter
          install-command: echo 'Nothing to install in this job'
          yarn: true
          no-workspace: true
          # we are not going to use results from this job anywhere else
          record: false
          store_artifacts: true
          # following examples from
          # https://circleci.com/docs/2.0/parallelism-faster-jobs/
          command: |
            TESTFILES=$(circleci tests glob "cypress/e2e/**/*.cy.ts" | circleci tests split --total=2)
            echo "Test files for this machine are $TESTFILES"
            npx cypress run --spec $TESTFILES
      - release:
          name: NPM release
          filters:
            branches:
              only:
                - main
          requires: 
            - build
            - cypress/run
